<div class="page-grid">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="angular.svg" alt="Angular Drag and Drop" width="30" height="24" class="d-inline-block align-text-top">
        Angular Drag and Drop
      </a>
    </div>
  </nav>

  <main ngGrid [cellSize]="25">
    <div class="card position-absolute" style="height: 150px; width: 150px;" ngDraggable [leftOffset]="1" [topOffset]="1">
      <div class="card-header">
        Drag and Drop
      </div>
      <div class="card-body">
      </div>
    </div>

    <div class="card position-absolute" style="height: 150px; width: 150px;" ngDraggable [leftOffset]="8" [topOffset]="1">
      <div class="card-header">
        Drag and Drop
      </div>
      <div class="card-body">
      </div>
    </div>
  </main>
</div>