/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap';

.page-grid {
    display: grid;
    grid-template-rows: 56px 1fr;
    grid-gap: .5rem;
    height: 100vh;
    width: 100vw;
}

.page-grid > nav {
    grid-row: 1;
}

.page-grid > main {
    grid-row: 2;
}