<div class="page-grid">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="angular.svg" alt="Angular Drag and Drop" width="30" height="24" class="d-inline-block align-text-top">
        Angular Drag and Drop
      </a>
    </div>
  </nav>

  <main ngGrid>
    <div class="card col-2 position-absolute" ngDraggable>
      <div class="card-header">
        Drag and Drop
      </div>
      <div class="card-body">
      </div>
    </div>
  </main>
</div>